html
    head
        title!= title
    body
        div
            a(href=backURI) back
        div
            a(href="/?name=new") create new
        ul
            - for(var i of files ){
                li
                    a(href="/?name="+i) #{i}
            - }
        form(method="post" action="/save")
            textarea(name="content" style="width:100%;height:450px;") #{content}
            input(type="submit")
            - if(title=="new"){
                input(type="text" name="name" placeholder="new.md")
            - }else{
                input(type="hidden" name="name" value=title)
            - }
